body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background: #E0D3DE;
    font-family: 'Fira Code', monospace;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-510px, -50%);
    z-index: -1;
}

#right-bar {
    width: 300px;
    height: 700px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(220px, -50%);
    color: #4F5072;
}

.slider-holder {
    width: fit-content;
    padding-right: 5px;
    background-color: #E0D3DE;
}

.slider {
    border: 1px solid #777777;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #777777;
    background: #fff;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #777777;
    background: #fff;
}

button {
    margin-left: 5px;
    margin-top: 20px;
    width: 223px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #777777;
    font-size: 20px;
    color: #4F5072;
    background-color: #fff;
    font-family: 'Fira Code', monospace;
}

button:hover {
    color: #fff;
    background-color: #4F5072;
}

.colour-picker {
    margin-right: 7px;
    border: none;
    background-color: #E0D3DE;
    width: 60px;
    height: 60px;
}