body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background: #E0D3DE;
    font-family: 'Fira Code', monospace;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-510px, -50%);
    z-index: -1;
}

#right-bar {
    width: 300px;
    height: 700px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(220px, -50%);
    color: #4F5072;
}

.slider {
    width: fit-content;
}

button {
    margin-left: 5px;
    margin-top: 20px;
    width: 223px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    color: #5a0074;
    background-color: #fff;
    font-family: 'Fira Code', monospace;
}

button:hover {
    color: #fff;
    background-color: #c449ff;
}

.colour-picker {
    margin-right: 7px;
    border: none;
    background-color: #E0D3DE;
    width: 60px;
    height: 60px;
}